<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- PATRON DE LOG Y PROPIEDADES DE PARAMETROS -->
    <Properties>
        <Property name="packageName">com.bolivariano.microservice.recbanred</Property>
        <Property name="serviceName">rec-mso-integrador-banred</Property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS}  %-5p  %replace{%c{3}}{([A-Za-z])[A-Za-z0-9_]*}{$1}  %2notEmpty{[%X{uid}]} - %2notEmpty{[tipoFlujo=%X{tipoFlujo} :: secuencial=%X{secuencial}] [canal=%X{canal} | codTipoServicio=%X{codTipoServicio} | codigoEmpresa=%X{codEmpresa} | identificador=%X{identificador}]}  :  %m%n
        </Property>
    </Properties>

    <!-- IMPRESION EN CONSOLA -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- ESCRITURA -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>